NEXTAUTH_URL=http://localhost:3100
NEXTAUTH_SECRET=CHANGEME
SALT=CHANGEME
ENCRYPTION_KEY=CHANGEME
TELEMETRY_ENABLED=false
LANGFUSE_INIT_ORG_ID=eddplatform
LANGFUSE_INIT_ORG_NAME=EddPlatform
LANGFUSE_INIT_PROJECT_ID=eddplatform
LANGFUSE_INIT_PROJECT_NAME=EddPlatform
LANGFUSE_INIT_PROJECT_PUBLIC_KEY=pk-lf-eddplatform-local
LANGFUSE_INIT_PROJECT_SECRET_KEY=sk-lf-eddplatform-local
LANGFUSE_INIT_USER_EMAIL=admin@eddplatform.local
LANGFUSE_INIT_USER_NAME=Admin
LANGFUSE_INIT_USER_PASSWORD=eddplatform-admin-123
